<form id="subscribe-form">
	@(xexpr->string (car (formlet-display subscribe-formlet/multipart)))
	<input type="submit" />
</form>
<script type="text/javascript" >
	window.addEventListener("load", () => {
		function feedSubmit () {
			const FD = new FormData(form);
			const qstr = new URLSearchParams(FD).toString();
			fetch("subscribe-multipart", {
				method: "POST",
				referrer: "@redir-uri",
				body: FD,
			}
			).then((response) => {
				if (response.redirected) {
					window.location.replace(response.url);
					return;					
				} else {
					subscribeError(response);
					return;
				};
			});
		};
		function subscribeError (resp) {
			const feedUrlDiv = document.querySelector("#feedUrlDiv");
			const errorMsg = document.createElement("span");
			errorMsg.setAttribute("class", "errorMsg");
			errorMsg.textContent = "Something went wrong!";
			feedUrlDiv.appendChild(errorMsg);
			return;
		};
		const form = document.getElementById("subscribe-form");
		form.addEventListener("submit", (event) => {
			event.preventDefault();
			
			feedSubmit();
			});
	});
</script>
